body {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  overflow-x: hidden;
}

.white-background {
  background-color: #ffffff;
}

.grey-background {
  background-color: #f2f2f2;
}

.primary-background {
  background-color: #ff3463;
}

.secondary-background {
  background-color: #6933FF;
}

.hover-text {
  color: #ffffff;
}

.primary-text {
  color: #ff3463;
}

.secondary-text {
  color: #6933FF;
}

.home-search {
  padding-bottom: 50px !important;
  background: #6933FF;
}

.white-text {
  color: #ffffff;
}

.black-text {
  color: #000000;
}

.grey-text {
  color: #f2f2f2;
}

.text-decoration {
  text-decoration: none !important;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

.paragraph-text1 {
  font-size: 18px !important;
}

.paragraph-text2 {
  font-size: 16px;
}

.paragraph-text3 {
  font-size: 14px;
}

.center {
  text-align: center;
}

.decoration-none {
  text-decoration: none;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-50 {
  font-size: 50px;
}

.font-weight-500 {
  font-weight: 500;
}

nav.navbar.navbar-expand-lg.navbar-light {
  background: #ff3463!important;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  padding: 10px 15px;
}

a.nav-item.nav-link.active {
  color: #ffffff !important;
  padding: 10px 15px;
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff !important;
}

a.nav-item.nav-link:hover {
  background: #6933FF;
  color: #ffffff !important;
}

a.nav-item.nav-link.active:hover {
  background: #6933FF;
  color: #ffffff !important;
}

.nav-link {
  display: block;
  padding: 50px 1rem;
}

h2.title.divider.mb-3 {
  font-style: italic;
  font-family: auto;
  font-size: 40px;
}

.lead {
  font-size: 24px;
  font-weight: 300;
  font-family: auto;
  font-style: italic;
}


/*banner css*/

.homepage-banner-text {
  position: absolute;
  display: block;
  top: 35%;
  left: 10%;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.carousel-caption h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 800;
  text-shadow: 2px 2px 1px #363636;
}

.carousel-caption h2 {
  color: #ffffff;
  text-shadow: 2px 2px 1px #363636;
}

.carousel-caption p {
  color: #ffffff;
  text-shadow: 2px 2px 1px #363636;
}

.carousel-caption.d-none.d-md-block {
  display: block !important;
}

.btn-center {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

button.btn.btn-outline-danger {
  background: #6933FF !important;
  border: 1px solid #6933FF !important;
  color: #ffffff;
}

.btn-danger {
  color: #fff;
  background-color: #f63463 !important;
  border-color: #f63463 !important;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0px !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button.btn.btn-outline-danger:hover {
  color: #ffffff;
  background-color: #f63463 !important;
  border-color: #f63463 !important;
}

button.btn-danger:hover {
  background: #6933FF !important;
  border: 1px solid #6933FF !important;
  color: #ffffff;
}

button {
  border-radius: 0px !important;
}

.search-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 30px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #f63463 !important;
  border-color: #f63463 !important;
}


/*homepage form css starts here*/

h3.title.divider-3.mb-3 {
  font-size: 22px;
}

.searching-for {
  display: inline-block;
  max-width: 100%;
  font-size: 16px;
  margin-bottom: 5px;
  color: #ffffff;
  text-shadow: none;
}

.inline-form-search {
  display: inline-block;
  padding: 5px;
  margin-top: 25px;
}

.switch-field input:checked+label {
  background-color: #f63463 !important;
  color: #ffffff !important;
}

.homepage-gender {
  margin-top: -3px !important;
}

.homepage-search-div {
  padding-right: 0px;
  text-align: justify;
}

.search-div {
  margin-bottom: -28px;
  padding-left: 55px;
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
    padding: 5px 18px;
}
.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: #000000;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}
.search-form-wrapper {
    position: static;
    margin-bottom: 30px;
    padding: 15px 19px 30px;
}
.search-form-wrapper {
    width: 100%;
    left: 0;
    right: 0;    
    background: #6833ff;
    border-radius: 3px;
    padding: 1em;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.search-form-wrapper .form-group {
    margin-bottom: 0;
}
.Dropdown-root {
    position: relative;
}
.Dropdown-control {
    padding: 5px 30px 5px 10px!important;
    border-radius: 3px!important;
}
.Dropdown-control, .Dropdown-option, .Dropdown-title {
    cursor: pointer!important;
    color: #72727d!important;
    font-family: Roboto,sans-serif!important;
}
.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.Dropdown-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}
.search-form-wrapper .form-group {
    margin-bottom: 0;
}
.ageWrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.ageFrom {
    align-self: flex-start;
}

.ageFrom, .ageUpto {
    min-width: 42%;
}
span.input-group-addon.country_code {
    background: #eaeaea;
    padding: 8px;
    border: 1px solid #dadadaee;
}

/*********   Check-box & Radio buttons   ************/

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {}

.homepage-gender-search {
  display: inline-flex !important;
  padding: 0px 200px -2px 115px !important;
  margin-bottom: -2px !important;
}

.timeline-badge.mb-2 .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.timeline-badge.mb-2:hover .img-top {
  display: inline;
}

.category-type-section p {
  padding: 10px;
  font-size: 16px;
  color: #f63463;
  text-transform: uppercase;
  font-weight: 600;
}

.category-type-section {
  background: #ffffff;
  line-height: 60px;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category-type-section:hover {
  background: #f63463;
  line-height: 60px;
  margin-top: 10px;
  color: #fff;
}

.category-type-section p:hover {
  color: #ffffff;
}

.category-type-section p {
  padding: 10px;
  font-size: 16px;
  color: #f63463;
  text-transform: uppercase;
  font-weight: 600;
}

.item-box-blog-heading h3 {
  font-size: 20px;
  color: #f63463;
}

.bg-blue-ui {
  background-color: #708198 !important;
}

figure img {
  width: 400px;
}

#blogCarousel {
  padding-bottom: 60px;
}
/*
.blog .carousel-indicators {
  left: 0;
  top: 88%;
  height: 50%;
}
*/

/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 20px;
  height: 0px;
}

.blog .carousel-indicators .active {
  background: #f63463;
}

.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #e2e2e2;
  text-align: center;
  z-index: 4;
  padding: 10px;
  transition: all .2s ease;
  background-color: #fff;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: #41cb52;
}

.item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 10px;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration: none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
  text-decoration: none;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
}

.search-profile-btn-area {
  text-align: center;
  width: 100%;
  margin-top: 25px;
}


/*latest profiile css*/

.recent-profile-wrap {
  display: flex;
  background: white;
  padding: 0px 10px;
  border-radius: 0px;
  box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
}

.ico-wrap {
  padding: 10px 0px;
}

.text-wrap.vcenter {
  padding: 0px 20px;
  text-align: left;
}

.text-wrap.vcenter h3 {
  font-size: 20px;
  padding: 5px 0px;
}


/*.recent-profile-wrap:hover {
    background: #6833ff;
    color: white;
}*/

.text-wrap.vcenter h3 {
  font-size: 20px;
}


/*featured profile css*/

.thumb-pad2 {
  margin: 0 0 34px 0;
  overflow: hidden;
}

.thumb-pad2 .thumbnail {
  position: relative;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  border: none;
  padding: 0;
  background: none;
}

.thumb-pad2 figure {
  margin: 0 0 20px 0;
}

.thumb-pad2 figure img {
  width: 100%;
}

.thumb-pad2 .thumbnail .caption {
  padding: 0;
  overflow: hidden;
}

.thumbnail .caption {
  padding: 9px;
  color: #000000;
}

.thumb-pad2 .thumbnail .caption a {
  font-size: 20px;
  color: #ff3463;
  text-decoration: none;
}

.thumb-pad2 .thumbnail .caption p {
  margin-top: 10px;
}

p span {
  color: #000000;
  font-weight: 500;
  font-style: italic;
}


/*footer css*/

.footer-links {
  position: relative;
  display: block;
  background: #f63463;
  padding: 20px;
}

.footer-links a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
}

.footer-text {
  position: relative;
  display: block;
  background: #f63463;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-weight: 600px;
  font-size: 16px;
}

.footer-text a {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.footer-links a:hover {
    background: #6933FF;
    color: #ffffff !important;
}



/*login css*/

#login .container #login-row #login-column #login-box {
  height: 400px;
  margin-bottom: 70px;
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, .125);
  background-color: rgba(255, 255, 255, 0.9);
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

.login-btn {
  position: relative;
  display: block;
  width: 100%;
}


/*membership plan css*/

.card-pricing .list-unstyled li {
  padding: .5rem 0;
  color: #6c757d;
}

.card.card-pricing.popular.shadow.text-center.px-3.mb-4 .text-white {
  color: #fff!important;
  background: #f63463 !important;
}

ul.list-unstyled.mb-4 li {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px;
}

.text-primary {
  color: #6833ff!important;
}


/*wedding directory css*/

.wedding-directory-type-section p {
  padding: 10px;
  font-size: 15px;
  color: #f63463;
  text-transform: uppercase;
  font-weight: 600;
}

.wedding-directory-type-section {
  background: #ffffff;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wedding-directory-type-section:hover {
  background: #f63463;
  margin-top: 10px;
  color: #fff;
}

.wedding-directory-type-section p:hover {
  color: #ffffff;
}

.wedding-directory-type-section p {
  padding: 10px;
  font-size: 16px;
  color: #f63463;
  text-transform: uppercase;
  font-weight: 600;
}


/*registration page css*/

.register-block-box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
}


/*advance search css*/

.w3_regular_search {
  padding: 20px;
}

.form_but1 {
  margin-bottom: 20px;
  width: 100%;
  display: inline-flex;
}

.form_radios {
  color: #000;
  font-size: 0.85em;
}

.control-label1 {
  padding-left: 0;
  font-size: 14px;
  color: #000;
  margin-top: 6px;
  font-weight: 600;
  letter-spacing: 1px;
}

.w3_details {
  margin-top: 6px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #656565;
}

.w3agile__text.col-sm-7.w3agile_banner_btom_login_left1 {
  display: inline-flex;
}

.search_left {
  padding-left: 0;
}

.select-block1 select,
.input-group1 input[type="text"] {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0px !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select.frm-field.required {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0px !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.agileits_advanced_Search h5 .input-group1 input[type="text"] {
  border: 1px solid #e2e2e3;
  font-size: 0.85em;
}

.col-md-5.input-group1 {
  padding-left: 0;
}

.w3_regular_search input[type="submit"] {
  background: #ffef1b;
  color: #212121;
  font-size: 14px;
  padding: 8px 35px;
  width: 100%;
  display: block;
  text-align: center;
  border: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.w3_regular_search input[type="submit"]:hover {
  background: #00c4da;
  color: #ffffff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.agileits_advanced_Search h5 {
  font-size: 22px;
  margin: 45px 0px 30px 75px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}

.w3ls-aside form input.text {
  font-size: 14px;
  color: #000;
  width: 100%;
  border: none;
  padding: 12px 0px;
  border-bottom: solid 1px #f63463;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
  background-position: -800px 0;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.text:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.text:focus::-webkit-input-placeholder {
  color: #6933FF !important;
  font-size: 12px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-10px);
  visibility: visible !important;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.text::-webkit-input-placeholder {
  color: #000;
}

.text:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

.text::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

.text:-ms-input-placeholder {
  color: #000;
}

.w3ls-aside h3 {
  font-size: 18px;
  margin: 15px 0 15px 0;
  text-align: left;
}

.w3ls-aside form input[type="submit"] {
  font-size: 13px;
  color: #fff;
  background: #ff4c4c;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  -webkit-appearance: none;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  transition: .5s all;
  float: right;
  margin-top: 10px;
  margin-bottom: 50px;
}

.w3ls-aside form input[type="submit"]:hover {
  background: #00c4da;
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}

.status-row-inline {
  display: inline-flex;
  width: 100%;
  text-align: center;
  margin-left: 50px;
}


/*Profile Card */

\ .profile-card-5 {
  border-radius: 15px !important;
  background-color: rgba(214, 211, 211, 0.4) !important;
}

.profile-card-details {
  border-radius: 15px !important;
  background-color: rgba(214, 211, 211, 0.4) !important;
  border: 1px solid #ddd;
}

.profile-card-5 {
  margin-top: 20px;
}

.profile-card-5 .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}

.profile-card-5 .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -30px;
}

.profile-card-details .card-body {
  padding: 0px 20px!important;
}

.profile-card-5 .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.profile-card-5 p {
  font-size: 14px;
  font-weight: 300;
}

.profile-card-5 .btn-primary {
  background-color: #4E5E30;
  border-color: #4E5E30;
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  line-height: 10px;
}

.profile-card-5.card-body {
  padding: 0px 20px;
}


/*profile details css*/

.details li {
  list-style: none;
}

#nri_profile_b_wrapper {
  padding: 10px 0px;
}

.about_section_ttl,
.education_career_section_ttl,
.background_section_ttl,
.lifestyle_section_ttl,
.family_section_ttl,
.interests_more_section_ttl,
.astro_section_ttl,
.what_section_ttl {
  color: #f63463;
  margin: 13px 0 5px 0;
  font-weight: bold;
}

div#about_self_nri {
  padding: 0px 0px;
  margin-left: -15px;
}

.label-warning {
  background: #6833ff;
  color: white;
  padding: 2px;
  font-size: 13px;
  font-weight: 300;
}


/*my profile css*/

.profile-photo {
  border: 1px solid #ddd;
}

ul.container.details {
  padding: 0;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
  font-weight: 400;
  font-size: 12px;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
  font-weight: 400;
  font-size: 12px;
}
.img-contain-box {
    border: 1px solid #e4e4e4;
}

/*upload profile photo css*/

.contain {
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(calc(60vh - 480px)/2);
}

#form1 {
  width: auto;
}

.alert {
  text-align: center;
}

/*#blah {
  max-height: 300px;
  max-width: 300px;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}*/

#img_contain {
  border-radius: 5px;
  /*  border:1px solid grey;*/
  margin-top: 20px;
  width: auto;
  text-align: center;
}

.profile-input-group {
  margin-left: calc(calc(80vw - 320px)/2);
  margin-top: 40px;
  width: 300px;
}

.imgInp {
  width: 150px;
  margin-top: 10px;
  padding: 10px;
  background-color: #d3d3d3;
}

.loading {
  animation: blinkingText ease 2.5s infinite;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }
  50% {
    color: #transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

.custom-file-label {
  cursor: pointer;
}

.credit {
  font-size: 12px;
  color: #3d3d3d;
  text-align: left;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.credit a {
  color: gray;
}

.credit a:hover {
  color: black;
}

.credit a:visited {
  color: MediumPurple;
}

ul.instrcutions {
  list-style-type: none;
  padding: 0px;
}


/*my photos css*/

.delete-btn {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #d2322d;
  border-color: #d2322d;
}

.delete-btn:hover {
  border-color: #d64742 !important;
  background-color: #d64742;
}


/*documents css*/

ul.doc {
  list-style-type: none;
  padding: 10px;
}

input#my_photos {
  font-size: 15px;
  padding: 3px 3px;
}


/*my msgs css*/

.chat {
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  height: 500px;
  border-radius: 15px !important;
  background-color: rgba(214, 211, 211, 0.4) !important
}

.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}

.msg_card_body {
  overflow-y: auto;
}

.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}

.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}

.container {
  align-content: center;
}

.search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(173, 173, 173, 0.3) !important;
  border: 0 !important;
  color: white !important;
}

.search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.type_msg {
  background-color: rgba(245, 245, 245, 0.) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}

.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.contacts {
  list-style: none;
  padding: 0;
}

.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}

.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}

.img_cont_msg {
  height: 40px;
  width: 40px;
}

.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}

.offline {
  background-color: #c23616 !important;
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  text-align: left;
}

.user_info span {
  font-size: 20px;
  color: #000000;
}

.user_info p {
  font-size: 10px;
  color: #000000;
}

.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}

.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #f63463;
  padding: 10px;
  position: relative;
  color: #ffffff;
  font-size: 14px;
}

.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #6933FF;
  padding: 10px;
  position: relative;
  font-size: 14px;
  color: #ffffff;
}

.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg_head {
  position: relative;
}

#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}

.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.action_menu ul li i {
  padding-right: 10px;
}

.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.fa-video:before {
  content: "\f03d";
  color: #000000;
}

.fa-phone:before {
  content: "\f095";
  color: #000000;
}

.fa-ellipsis-v:before {
  content: "\f142";
  color: #000000;
}

@media(max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important;
  }
}


/*dashobard css*/

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.card>.list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card>.list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.bg-primary {
  background: #dc3545!important;
}

.bg-success {
  background: #2982cc!important;
}

.bg-warning {
  background: #28a745!important;
}

.bg-danger {
  background: linear-gradient(60deg, #26c6da, #00acc1);
}

nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top {
  background-color: #ff3463 !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #bd2130 !important;
}

li.breadcrumb-item a {
  color: #6733ff;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 80px;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f105';
  font-family: 'Font Awesome 5 Free';
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

@media (min-width: 768px) {
  .navbar-nav .form-inline .input-group {
    width: auto;
  }
}

.sidebar {
  width: 90px !important;
  background-color: #6833ff;
  min-height: calc(100vh - 56px);
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 90px;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.65rem;
  display: block;
}

.sidebar .nav-item .dropdown-menu {
  position: absolute !important;
  -webkit-transform: none !important;
  transform: none !important;
  left: calc(90px + 0.5rem) !important;
  margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
  bottom: 0;
  top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.sidebar .nav-item .nav-link {
  color: #ffffff;
}

.sidebar .nav-item .nav-link:active,
.sidebar .nav-item .nav-link:focus,
.sidebar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.sidebar.toggled {
  width: 0 !important;
  overflow: hidden;
}

@media (min-width: 768px) {
  .sidebar {
    width: 225px !important;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 225px;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 1rem;
    display: inline;
  }
  .sidebar .nav-item .dropdown-menu {
    position: static !important;
    top: 0;
  }
  .sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: block;
  }
  .sidebar.toggled {
    overflow: visible;
    width: 90px !important;
  }
  .sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar.toggled .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
  }
  .sidebar.toggled .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
  }
  .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
    display: none;
  }
}

.dropdown-menu {
  border-radius: 0px !important;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

button.btn.btn-primary.dashboard-search {
  color: #fff;
  background-color: #6733ff !important;
  border-color: #6733ff;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
  margin-top: 25px;
}

.fa-views:before {
  content: "\f140";
}

.fa-plan:before {
  content: "\f0ae";
}

.fa-star-o:before {
  content: "\f005";
}

.fa-interest:before {
  content: "\f004";
}

.fa-heart:before {
  content: "\f004";
}

.fa-check-square-o:before {
  content: "\f14a";
}

.fa-check:before {
  content: "\f00c";
}

.fa-comments-o:before {
  content: "\f27a";
}

.fa-delicious:before {
  content: "\f1a5";
}

.card-heading-text.paragraph-text1 {
  font-size: 20px !important;
  text-shadow: 1px 1px 2px black;
}

span.float-left.card-footer-link:hover {
  color: #ffffff;
}

span.float-left.card-footer-link {
  font-size: 14px;
  color: #ffffff;
}

i.fas.fa-angle-right.icon-next {
  font-size: 16px;
  color: #ffffff;
}

i.fas.fa-angle-right.icon-next:hover {
  font-size: 16px;
  color: #ffffff;
}

.image_outer_container {
  margin-top: 10px;
  margin-bottom: auto;
  border-radius: 50%;
  position: relative;
}

.image_inner_container {
  border-radius: 50%;
  padding: 3px;
}

.image_inner_container img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
/*  border: 5px solid white;*/
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 5px 15px;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

/*admin dashboard css*/

.admin-card.card-outline-danger .admin-card-header {
    background: #dc3545;
    border-color: #dc3545;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.admin-card .list-group{
    background: #ffffff;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    box-shadow: 0 1px 1px 0 rgba(60,75,100,.14), 0 2px 1px -1px rgba(60,75,100,.12), 0 1px 3px 0 rgba(60,75,100,.2);
}
.admin-card.card-outline-inverse .admin-card-header {
    background: #28a745;
    border-color: #28a745;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.admin-card.card-outline-info .admin-card-header{
    background: #2982cc;
    border-color: #2982cc;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.admin-card.card-outline-primary .admin-card-header {
    background: #f6960b;
    border-color: #f6960b;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
span.admin-badge.float-right a:hover {
    color: #ffffff;
}
span.admin-badge.float-right {
    padding: 5px 0px;
}


/*data-table css*/

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
    overflow-x: hidden;
}
.table-bordered {
    border: 1px solid #e3e6f0;
}
div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block;
}
.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-select-sm {
    height: calc(1.5em + .5rem + 2px);
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    vertical-align: middle;
    background: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right .75rem center/8px 10px;
    background-color: #fff;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e3e6f0;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #e3e6f0;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #f63463;
    border-color: #f63463;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #f63463;
    background-color: #fff;
    border: 1px solid #dee2e6;
}





/*media css*/

@media only screen and (max-width: 600px) {
  .status-row-inline {
    display: block !important;
    width: 100%;
  }
  .form_but1 {
    margin-bottom: 20px;
    width: 100%;
    display: block;
  }
  .status-row-inline {
    display: inline-flex;
    width: 100%;
    text-align: left !im;
    margin-left: 0px;
  }
.image_inner_container img {
  width: 50px !important;
  height: 50px !important;
}
}



.form-control {
    border: 1px solid #000000;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 3px 3px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*tab css*/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #6733ff;
}
.nav-pills .nav-link {
    border-radius: .25rem;
    color: #fff !important;
}
ul#pills-tab {
    background: #f63463;
    font-weight: 500;
    font-size: 15px;
}
.nav-pills .nav-link {
    border-radius: 8px;
    color: #fff !important;
    padding: 10px 15px;
}
td.fieldarea {
    border: 1px solid #e4e4e4;
    padding: 8px;
}


/*wedding directory css*/
.panel-body.vendor-category-info {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #f63463;
    border-color: #f63463;
}
.badge-primary {
    color: #fff;
    background-color: #6833ff;
}


/*project config css*/

ul.nav.nav-tabs.md-tabs.nav-justified.primary-color .nav-link.active {
    display: block;
    padding: 0.5rem 1rem;
    color: #f63463;
    border-top: 2px solid #f63463;
    border-radius: 5px;
    background: transparent;
    border-bottom: none;
}
ul.nav.nav-tabs.md-tabs.nav-justified.primary-color .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #000;
}
.tab-pane {
  margin-top: 35px;
}
.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #6833ff;
    border-color: #6733ff !important;
}
button.btn.btn-outline-primary.btn-sm {
    color: #6833ff;
    border-color: #6833ff;
}